.l-header {
  position: relative;
  top:0;
  left: 0;
  right: 0;
  height: 951px;
}

.l-services {
  position:relative;
}

.l-pub {
  position: relative;
  height: 872px;
}

.l-team {
  background-color: #82ca9c;
  height:526px;
}

.l-price {
  background-color: #f6f7fa;
  //height: 667px;

}

.l-footer {
  background-color: #192431;
  padding-top: 93px;
  padding-bottom: 138px;
}