.about {

  padding-top:86px;

  color: #000;

    .about-title {
      padding-bottom: 19px;

      color: #222626;
    }

    p {
      padding-bottom: 26px;

      color: #959595;

    }

    .about-right {
      padding-top: 115px;
    }

}